{% extends 'base.html' %}

{% block container %}

    <h1 class="display-5 mt-4">Летим <span data-test="from">
        {{ city_from }}
    </span></h1>
    <p class="mb-4" >Найдено <span data-test="tourcount">{{ count_tours }}</span> туров, от
        <span data-test="pricemin">{{ min_price }}</span> до <span data-test="pricemax">{{ max_price }}</span>
        и от <span data-test="nightsmax">{{ min_nights }}</span> ночей
        до <span data-test="nightsmax">{{ max_nights }}</span> ночей</p>
    <!-- HERO -->



    <!-- CARDS -->

      <div class="row mt-5" data-test="cards">

        {% for tour, tour_value in tours.items %}
            <div class="col-4" data-test="card">
                <div class="card mb-3" >
                <img src="{{ tour_value.picture }}" class="card-img-top img-fluid" data-test="picture">
                <div class="card-body">
                  <h5 class="card-title">{{ tour_value.title }}</h5>
                 <p class="card-text">{{ tour_value.description }}</p>
                    <a href="/tour/{{ tour }}" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
                </div>
                </div>
            </div>
        {% endfor %}
      </div>
{% endblock %}