{% extends 'base.html' %}

{% block container %}

    <!-- HERO -->

    <div class="jumbotron text-center mt-4">
      <h1 class="display-4">Всякие туры</h1>
      <p class="lead"> {{ subtitle }} </p>
      <p class="mt-5 w-50 mx-auto"> {{ description }} </p>
    </div>

    <!-- CARDS -->

    <div class="row mt-5" data-test="cards">
        {% for tour, tour_value in tours.items %}
            {% if tour in view_lst %}
                <div class="col-4" data-test="card">
                    <div class="card mb-3" >
                    <img src="{{ tour_value.picture }}" class="card-img-top img-fluid" data-test="picture">
                    <div class="card-body">
                      <h5 class="card-title">{{ tour_value.title }}</h5>
                     <p class="card-text">{{ tour_value.description }}</p>
                        <a href="/tour/{{ tour }}" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
                    </div>
                </div>

                </div>
            {% endif %}
        {% endfor %}

        </div>
    </div>

{% endblock %}
